.title-text{
  font: normal bold 50px/72px;
}

.subtitle-text{
  font: normal bold 30px/52px;
}

.text-uppercase{
  text-transform: uppercase;
}

/* Buttons */
.button{
  padding: .8rem 2.2rem;
  border-radius: 25px;
  position: relative;
  /* color: whitesmoke; */
}

.button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
}

.button:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  
	-webkit-transition: all 0.6s ease-in-out;
	   -moz-transition: all 0.6s ease-in-out;
	        transition: all 0.6s ease-in-out;
}

.button.primary-button{
  background: var(--gradient-color);
  /* background-clip: padding-box; */
  color: whitesmoke;
  font-weight: 500;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
  box-shadow: var(--shadow-color);
}

.button.secondary-button{
  background: transparent;
  border: 2px solid rgba(133, 79, 238, 0.8);
  /* background: rgba(133, 79, 238, 0.32); */
  /* opacity: 0.5; */
  background-clip: padding-box;
  font-weight: 500;
  transition: background 1s ease-in;
}

.button.secondary-button:hover{
  background: var(--gradient-color);
  color: whitesmoke;
  opacity: 1;
  box-shadow: var(--box-shadow);
}

p.para{
  color: var(--text-color);
  font: normal 500 16px/25px;
}

button:active{
    outline: 0px !important;
    box-shadow: none !important;
    transform: translateY(4px);
}

.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}


.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}